.Button2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 8rem;
    background-color: grey;
    font-size: large;
    font-weight: bold;
  }
  .Buttondiv2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;

  }
  .result{
    padding: 4rem;
    font-size: large;
    font-weight: bold;
  }